<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iablonski.crm.tasklist.repository.UserRepository">
    <resultMap id="UserResultMap" type="com.iablonski.crm.tasklist.domain.user.User" autoMapping="false">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="username" column="user_username"/>
        <result property="password" column="user_password"/>
        <collection property="roles"
                    ofType="com.iablonski.crm.tasklist.domain.user.Role"
                    autoMapping="false">
            <result property="name" column="user_role_role"/>
        </collection>
        <collection property="tasks"
                    ofType="com.iablonski.crm.tasklist.domain.task.Task"
                    resultMap="com.iablonski.crm.tasklist.repository.TaskRepository.TaskResultMap"
                    autoMapping="false">
        </collection>
    </resultMap>

    <select id="findById" resultMap="UserResultMap">
        SELECT u.id as user_id,
        u.name as user_name,
        u.username as user_username,
        u.password as user_password,
        ur.role as user_role_role,
        tl.id as task_id,
        tl.title as task_title,
        tl.description as task_description,
        tl.expiration_date as task_expiration_date,
        tl.status as task_status
        FROM tasks.user_list u
        LEFT JOIN tasks.user_roles ur on u.id = ur.user_id
        LEFT JOIN tasks.user_task ut on u.id = ut.user_id
        LEFT JOIN tasks.task_list tl on ut.task_id = tl.id
        WHERE u.id = #{id}
    </select>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT u.id as user_id,
        u.name as user_name,
        u.username as user_username,
        u.password as user_password,
        ur.role as user_role_role,
        tl.id as task_id,
        tl.title as task_title,
        tl.description as task_description,
        tl.expiration_date as task_expiration_date,
        tl.status as task_status
        FROM tasks.user_list u
        LEFT JOIN tasks.user_roles ur on u.id = ur.user_id
        LEFT JOIN tasks.user_task ut on u.id = ut.user_id
        LEFT JOIN tasks.task_list tl on ut.task_id = tl.id
        WHERE u.username = #{username}
    </select>

    <select id="isTaskOwner" resultType="boolean">
        SELECT exists(SELECT 1
        FROM tasks.user_task
        WHERE user_id = #{userId}
        AND task_id = #{taskId})
    </select>

    <insert id="insertUserRole">
        INSERT INTO tasks.user_roles(user_id, role)
        VALUES (#{userId}, #{role})
    </insert>

    <insert id="create" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO tasks.user_list (name, username, password)
        VALUES (#{name}, #{username}, #{password})
    </insert>

    <update id="update">
        UPDATE tasks.user_list
        SET name = #{name},
        username = #{username},
        password = #{password}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE
        FROM tasks.user_list
        WHERE id = #{id}
    </delete>
</mapper>